{% extends 'base.html' %}

{% block body %}

<div class="container">
    <section class="section">
        <h3><i class="fas fa-wave-square"></i>Isotropic Model</h3>


        <form action='/plot' method="post" enctype="multipart/form-data">
            <label for="modelo" style="text-align: left; display: block;">Select Model:</label>
            <select id="modelo" name="selecao_modelo">
                <option value="WHP">WHP</option>
                <option value="SSP">SSP</option>
                <option value="HWP">HWP</option>
            </select>
            <input type="file" name="file">
            <input type="submit" value="Fit Model">
        </form>

        <style>
            /* Diminuir o tamanho da fonte para o formulário */
            form {
                font-size: 0.8rem; /* Este valor pode ser ajustado conforme necessário */
            }

            /* Estilizar o label */
            form label {
                display: block; /* Garante que o label ocupe sua própria linha */
                margin-bottom: 0.5rem; /* Espaçamento abaixo do label */
            }

            /* Estilizar o select */
            form select {
                width: 100%; /* Ocupa a largura total do container do formulário */
                padding: 0.375rem; /* Espaçamento interno */
                margin-bottom: 1rem; /* Espaçamento abaixo do select */
            }
        </style>

    </section>

</div>



{% endblock %}